<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="jdbcUrl" value="jdbc:mysql://127.0.0.1:3306/itclub?useUnicode=true&amp;characterEncoding=GBK">
		</property>
		<property name="user" value="root"></property>
		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>

				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">false</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<!--<property name="Connection.useUnicode">true </property>   
        connection.characterEncoding连接数据库时数据的传输字符集编码方式，最好设置为gbk，用gb2312有的字符不全  
    <property name="connection.characterEncoding">gbk </property>      --> 
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/itclub/ssh/domain/Setting.hbm.xml</value>
				<value>
					com/itclub/ssh/domain/AdminGroup.hbm.xml
				</value>
				<value>
					com/itclub/ssh/domain/AdminCmenu.hbm.xml
				</value>
				<value>
					com/itclub/ssh/domain/Invitation.hbm.xml
				</value>
				<value>com/itclub/ssh/domain/Member.hbm.xml</value>
				<value>com/itclub/ssh/domain/AdminPerm.hbm.xml</value>
				<value>
					com/itclub/ssh/domain/AdminMember.hbm.xml
				</value>
				<value>com/itclub/ssh/domain/AdminGroup.hbm.xml</value>
				<value>com/itclub/ssh/domain/Invitation.hbm.xml</value>
				<value>com/itclub/ssh/domain/Member.hbm.xml</value>
				<value>com/itclub/ssh/domain/AdminPerm.hbm.xml</value>
				<value>com/itclub/ssh/domain/AdminCmenu.hbm.xml</value>
				<value>com/itclub/ssh/domain/AdminMember.hbm.xml</value>
				<value>com/itclub/ssh/domain/Setting.hbm.xml</value>
				<value>com/itclub/ssh/domain/AdminMenu.hbm.xml</value>
				<value>
					com/itclub/ssh/domain/MemberActionLog.hbm.xml
				</value>
				<value>com/itclub/ssh/domain/Friendlink.hbm.xml</value></list>
		</property>
	</bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />

	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />


	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- Action配置 -->
	<bean id="adminMemberAction" class="com.itclub.ssh.action.admin.MemberAction"
		scope="prototype">
		<property name="memberService" ref="memberService" />
	</bean>
	<bean id="adminIndexAction" class="com.itclub.ssh.action.admin.IndexAction"></bean>
	<bean id="IndexInterceptor" class="com.itclub.ssh.action.interceptor.IndexInterceptor">
		<property name="systemService" ref="systemService"></property>
	</bean>
	<bean id="UserLoginInterceptor" class="com.itclub.ssh.action.interceptor.UserLoginInterceptor">
		<property name="memberService" ref="memberService" />
	</bean>
	<bean id="CheckCodeUtilAction" class="com.itclub.ssh.action.CheckCodeUtilAction"></bean>
	<bean id="IndexAction" class="com.itclub.ssh.action.IndexAction">
		<property name="indexService" ref="indexService"></property>
	</bean>
	<bean id="defaultMemberAction" class="com.itclub.ssh.action.MemberAction">
		<property name="memberService" ref="memberService"></property>
	</bean>
	<bean id="SystemAction" class="com.itclub.ssh.action.admin.SystemAcion">
		<property name="systemService" ref="systemService"></property>
	</bean>
	<bean id="UploadUtilAction" class="com.itclub.ssh.action.UploadUtilAction"></bean>
	<bean id="ContentAction" class="com.itclub.ssh.action.admin.ContentAction">
		<property name="contentService" ref="contentService"></property>
	</bean>
	
	
	<!-- Service配置 -->
	<bean id="memberService" class="com.itclub.ssh.service.impl.MemberServiceImpl">
		<property name="memberDao" ref="MemberDao" />
	</bean>
	<bean id="systemService" class="com.itclub.ssh.service.impl.SystemServiceImpl">
		<property name="systemDao" ref="systemDao"></property>
	</bean>
	<bean id="contentService" class="com.itclub.ssh.service.impl.ContentServiceimpl">
		<property name="contentDao" ref="contentDao"></property>
	</bean>
	<bean id="indexService" class="com.itclub.ssh.service.impl.IndexServiceImpl">
		<property name="indexDao" ref="indexDao"></property>
	</bean>
	 
	<!-- dao配置 -->
	<bean id="MemberDao" class="com.itclub.ssh.dao.impl.MemberDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="systemDao" class="com.itclub.ssh.dao.impl.SystemDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="contentDao" class="com.itclub.ssh.dao.impl.ContentDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="indexDao" class="com.itclub.ssh.dao.impl.IndexDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="nestedSets" class="com.itclub.ssh.util.NestedSets">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	
	<aop:config>
		<aop:pointcut id="bussinessService"
			expression="execution(* com.itclub.ssh.service.*.*(..))" />
		<aop:advisor pointcut-ref="bussinessService" advice-ref="txAdvice" />
	</aop:config>

	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="*" read-only="false" />
		</tx:attributes>
	</tx:advice>
</beans>